<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Persetujuan Rekapitulasi DPA-SKPD</title>

    <style>
        @page {
            size: 215mm 330mm;
            margin: 20mm;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            line-height: 1.6;
        }

        .table-layout {
            width: 100%;
            border-collapse: collapse;
        }

        .border-table {
            width: 100%;
            border-collapse: collapse;
        }

        .no-border {
            border: none !important;
        }

        .text-center {
            text-align: center;
        }

        .text-left {
            text-align: left;
        }

        .text-right {
            text-align: right;
        }

        .bold {
            font-weight: bold;
        }

        .border-table td,
        .border-table th {
            border: 1px solid #000;
            padding: 6px;
        }
    </style>
</head>

<body>

    <table class="table-layout">

        <!-- ================= LOGO ================= -->
        <tr>
            <td class="no-border text-center">
                <img src="#" style="height:100px;" alt="nanti d pu logo disini bah santee">
            </td>
        </tr>

        <!-- ================= HEADER ================= -->
        <tr>
            <td class="no-border text-center" style="padding-top:15px;">
                KABUPATEN YAHUKIMO
            </td>
        </tr>

        <tr>
            <td class="no-border text-center" style="padding-top:30px;">
                PERSETUJUAN REKAPITULASI<br>
                DOKUMEN PELAKSANAAN ANGGARAN<br>
                SATUAN KERJA PERANGKAT DAERAH<br>
                (DPA-SKPD)
            </td>
        </tr>

        <tr>
            <td class="no-border text-center" style="padding-top:30px;">
                TAHUN ANGGARAN 2026
            </td>
        </tr>

        <!-- ================= PARAGRAF ================= -->
        <tr>
            <td class="no-border" style="padding-top:40px; text-align:justify;">
                Berdasarkan hasil verifikasi Tim Anggaran Pemerintah Daerah atas seluruh dokumen
                pelaksanaan anggaran satuan kerja perangkat daerah:
            </td>
        </tr>

        <!-- ================= DATA PEJABAT ================= -->
        <tr>
            <td class="no-border" style="padding-top:20px;">

                <table style="width:100%;">
                    <tr>
                        <td style="width:3px;" class="no-border">a.</td>
                        <td style="width:120px;" class="no-border">Nama</td>
                        <td style="width:10px;" class="no-border">:</td>
                        <td class="no-border">MATHIUS, S.Hut., M.Si</td>
                    </tr>
                    <tr>
                        <td class="no-border">b.</td>
                        <td class="no-border">NIP</td>
                        <td class="no-border">:</td>
                        <td class="no-border">197603202003121007</td>
                    </tr>
                    <tr>
                        <td class="no-border">c.</td>
                        <td class="no-border">Jabatan</td>
                        <td class="no-border">:</td>
                        <td class="no-border">
                            KEPALA BADAN PENGELOLAAN KEUANGAN DAN<br>
                            ASET DAERAH
                        </td>
                    </tr>
                </table>

            </td>
        </tr>

        <tr>
            <td class="no-border" style="padding-top:20px; text-align:justify;">
                menyetujui untuk dilakukan pengesahan atas dokumen pelaksanaan anggaran satuan
                kerja perangkat daerah Pemerintah Kab. Yahukimo sebagai dasar pelaksanaan anggaran
                daerah Tahun Anggaran 2026
            </td>
        </tr>

        <!-- ================= TABEL FORMULIR ================= -->
        <tr>
            <td style="padding-top:40px;">

                <table class="border-table" style="width:100%;">
                    <tr>
                        <th style="width:35%;">Kode</th>
                        <th>Nama Formulir</th>
                    </tr>
                    <tr>
                        <td>DPA-SKPD</td>
                        <td>Ringkasan DPA SKPD</td>
                    </tr>
                    <tr>
                        <td>DPA-PENDAPATAN SKPD</td>
                        <td>Rincian Anggaran Pendapatan SKPD</td>
                    </tr>
                    <tr>
                        <td>DPA-BELANJA SKPD</td>
                        <td>Rincian Anggaran Belanja SKPD</td>
                    </tr>
                    <tr>
                        <td>DPA-PEMBIAYAAN SKPD</td>
                        <td>Rincian Anggaran Pembiayaan Daerah SKPD</td>
                    </tr>
                </table>

            </td>
        </tr>

        <tr>
            <td class="no-border text-center" style="padding-top:30px;">
                Demikian disampaikan dan dipergunakan sebagaimana mestinya.
            </td>
        </tr>

        <!-- ================= TANDA TANGAN ================= -->

        <tr>
            <td class="no-border" style="padding-top:70px;">

                <table style="width:100%;">
                    <tr>
                        <td class="no-border text-center" style="width:50%;">
                            Disetujui oleh,<br>
                            Sekretaris Daerah
                        </td>
                        <td class="no-border text-center" style="width:50%;">
                            Sumohai, Tanggal 08 Januari 2026<br>
                            Disahkan oleh,<br>
                            PPKD
                        </td>
                    </tr>

                    <tr>
                        <td class="no-border" style="height:100px;"></td>
                        <td class="no-border"></td>
                    </tr>

                    <tr>
                        <td class="no-border text-center bold">
                            REDISON MANURUNG, SPd., M.Si
                        </td>
                        <td class="no-border text-center bold">
                            MATHIUS, S.Hut., M.Si
                        </td>
                    </tr>

                    <tr>
                        <td class="no-border text-center">
                            NIP: 196808011995121004
                        </td>
                        <td class="no-border text-center">
                            NIP: 197603202003121007
                        </td>
                    </tr>
                </table>

            </td>
        </tr>

    </table>

</body>

</html>