<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @page {
            size: 210mm 330mm;
            margin: 12mm;
        }

        body {
            font-family: Arial, sans-serif;
            font-size: 10px;
            line-height: 1.6;
        }

        .wrapper {
            width: 100%;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #000;
            padding: 4px 6px;
            vertical-align: middle;
        }

        .no-border-right {
            border-right: none !important;
        }

        .no-border-left {
            border-left: none !important;
        }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        .bold {
            font-weight: bold;
        }

        .bg-gray {
            background: #e6e6e6;
        }

        .bg-skpd {
            background: #FFF7CD;
        }

        .kd {
            width: 40px;
        }

        .uraian {
            width: 320px;
        }

        .dana {
            width: 50px;
        }

        .lokasi {
            width: 110px;
        }

        .nominal {
            width: auto;
        }

        .rotate-left {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            text-align: center;
            white-space: nowrap;
            /* height: 120px; */
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <!-- ================= HEADER ================= -->
        <table>
            <tr class="bold">
                <td colspan="2" class="text-center" style="width:70%;">
                    DOKUMEN PELAKSANAAN ANGGARAN<br>
                    SATUAN KERJA PERANGKAT DAERAH
                </td>
                <td rowspan="3" class="text-center" style="width:30%;">
                    FORMULIR<br>
                    DPA - PEMBIAYAAN<br>
                    SKPD
                </td>
            </tr>
            <tr class="bold">
                <td colspan="2" class="text-center">
                    KAB. YAHUKIMO<br>
                    TAHUN ANGGARAN 2026
                </td>
            </tr>
            <!-- ================= IDENTITAS ================= -->
            <tr>
                <td class="no-border-right" style="width: 20px;">Nomor<br>Organisasi</td>
                <td class="no-border-left bold">
                    : DPA/A.1/5.02.0.00.0.00.27.0000/01/2026<br>
                    : 5.02.0.00.0.00.27.0000 - BADAN PENGELOLAAN KEUANGAN DAN ASET DAERAH
                </td>
            </tr>

            <tr>
                <td class="text-center" colspan="3">
                    Ringkasan Dokumen Pelaksanaan Anggaran Pembiayaan<br>
                    Satuan Kerja Perangkat Daerah
                </td>
            </tr>


        </table>

        <table>

            <tr class="text-center bold">
                <td rowspan="2">Kode Rekening</td>
                <td rowspan="2">Uraian</td>
                <td>Jumlah</td>
            </tr>
            <tr class="text-center bold">
                <td>(Rp)</td>
            </tr>
            <tr class="bg-gray">
                <td></td>
                <td class="text-right bold">Jumlah Penerimaan Pembiayaan </td>
                <td class="text-right bold">Rp0,00</td>
            </tr>
            <tr class="bg-skpd bold">
                <td>6.2</td>
                <td>PENGELUARAN PEMBIAYAAN</td>
                <td class="text-right bold">Rp114.000.000.000,00</td>
            </tr>
            <tr>
                <td>6.2.02 </td>
                <td>Penyertaan Modal Daerah</td>
                <td class="text-right">Rp2.000.000.000,00</td>
            </tr>
            <tr>
                <td>6.2.02.02 </td>
                <td>Penyertaan Modal Daerah pada Badan Usaha Milik Daerah (BUMD) </td>
                <td class="text-right">Rp2.000.000.000,00</td>
            </tr>
            <tr>
                <td>6.2.02.02.001 </td>
                <td>Penyertaan Modal Daerah pada BUMD </td>
                <td class="text-right">Rp2.000.000.000,00</td>
            </tr>
            <tr>
                <td>6.2.02.02.001.00001 </td>
                <td>Penyertaan Modal Daerah pada BUMD </td>
                <td class="text-right">Rp2.000.000.000,00</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">: : Penyertaan Modal Daerah pada BUMD</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">: : : PENYERTAAN MODAL PADA PT. BANK PAPUA</td>
            </tr>
            <tr>
                <td></td>
                <td>Penyertaan Modal Daerah pada BUMD </td>
                <td class="text-right">Rp2.000.000.000,00</td>
            </tr>
            <tr>
                <td>6.2.07</td>
                <td>Pembayaran Pembiayaan Utang Daerah </td>
                <td class="text-right">Rp112.000.000.000,00</td>
            </tr>
            <tr>
                <td>6.2.07.01 </td>
                <td>Pembayaran Cicilan Pokok Pinjaman Daerah </td>
                <td class="text-right">Rp112.000.000.000,00</td>
            </tr>
            <tr>
                <td>6.2.07.01.003 </td>
                <td>Pembayaran Cicilan Pokok Pinjaman Daerah dari Lembaga Keuangan Bank (LKB) </td>
                <td class="text-right">Rp112.000.000.000,00</td>
            </tr>
            <tr>
                <td>6.2.02.07.003.00001 </td>
                <td>Pembayaran Cicilan Pokok Pinjaman Daerah dari LKB</td>
                <td class="text-right">Rp112.000.000.000,00</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">: : Penyertaan Modal Daerah pada BUMD</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">: : : PENYERTAAN MODAL PADA PT. BANK PAPUA</td>
            </tr>
            <tr>
                <td></td>
                <td>Pembayaran Cicilan Pokok Pinjaman Daerah dari LKB</td>
                <td class="text-right">Rp112.000.000.000,00</td>
            </tr>
            <tr class="bg-gray">
                <td></td>
                <td class="text-right bold">Jumlah Pengeluaran Pembiayaan </td>
                <td class="text-right bold">Rp114.000.000.000,00</td>
            </tr>
        </table>

        <table>
            <tr>
                <td colspan="2" class="text-center bold" style="width: 30%;">Rencana Realisasi<br>Penerimaan Pembiayaan
                    per Bulan*)
                    <br>(Rp)
                </td>
                <td colspan="2" class="text-center bold" style="width: 30%;">Rencana Realisasi<br>Pengeluaran Pembiayaan
                    per Bulan*)
                    <br>(Rp)
                </td>

                <td rowspan="14" class="text-center" style="width: 40%;">
                    <p style="font-weight: normal !important;">
                        Sumohai, Tanggal 08 Januari 2026<br>
                        KEPALA BADAN PENGELOLAAN KEUANGAN DAN ASET DAERAH
                    </p>
                    <br><br><br><br>
                    <b>
                        <u>
                            MATHIUS, S.Hut., M.Si
                        </u>
                        <br>
                        NIP. 197603202003121007
                    </b>
                    <br><br><br>
                    <p style="font-weight: normal !important;">
                        Mengesahkan,<br>
                        PPKD
                    </p><br><br><br><br><br><br>
                    <b>
                        <u>
                            MATHIUS, S.Hut., M.Si
                        </u>
                        <br>
                        NIP. 197603202003121007
                    </b>
                </td>
            </tr>

            <tr>
                <td style="width:15%;">Januari</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
                <td style="width:15%;">Januari</td>
                <td style="width:15%;" class="text-right">Rp18.666.666.665,00</td>
            </tr>

            <tr>
                <td style="width:15%;">Februari</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
                <td style="width:15%;">Februari</td>
                <td style="width:15%;" class="text-right">Rp18.666.666.665,00</td>
            </tr>

            <tr>
                <td style="width:15%;">Maret</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
                <td style="width:15%;">Maret</td>
                <td style="width:15%;" class="text-right">Rp18.666.666.665,00</td>
            </tr>

            <tr>
                <td style="width:15%;">April</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
                <td style="width:15%;">April</td>
                <td style="width:15%;" class="text-right">Rp18.666.666.665,00</td>
            </tr>

            <tr>
                <td style="width:15%;">Mei</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
                <td style="width:15%;">Mei</td>
                <td style="width:15%;" class="text-right">Rp18.666.666.665,00</td>
            </tr>

            <tr>
                <td style="width:15%;">Juni</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
                <td style="width:15%;">Juni</td>
                <td style="width:15%;" class="text-right">Rp18.666.666.665,00</td>
            </tr>

            <tr>
                <td style="width:15%;">Juli</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
                <td style="width:15%;">Juli</td>
                <td style="width:15%;" class="text-right">Rp2.000.000.000,00</td>
            </tr>

            <tr>
                <td style="width:15%;">Agustus</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
                <td style="width:15%;">Agustus</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
            </tr>

            <tr>
                <td style="width:15%;">September</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
                <td style="width:15%;">September</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
            </tr>

            <tr>
                <td style="width:15%;">Oktober</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
                <td style="width:15%;">Oktober</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
            </tr>

            <tr>
                <td style="width:15%;">November</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
                <td style="width:15%;">November</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
            </tr>

            <tr>
                <td style="width:15%;">Desember</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
                <td style="width:15%;">Desember</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
            </tr>

            <tr class="bold bg-gray">
                <td style="width:15%;">Jumlah</td>
                <td style="width:15%;" class="text-right">Rp0,00</td>
                <td style="width:15%;">Jumlah</td>
                <td style="width:15%;" class="text-right">Rp114.000.000.000,00</td>
            </tr>
        </table>

        <!-- tim anggaran pemerintah daerah -->
        <table>
            <tr>
                <td colspan="5" class="text-center">
                    Tim Anggaran Pemerintah Daerah
                </td>
            </tr>

            <tr class="bold">
                <td style="width:60px;">No.</td>
                <td style="width:35%;">Nama</td>
                <td style="width:25%;">NIP</td>
                <td style="width:22%;">Jabatan</td>
                <td style="width:18%;">Tanda Tangan</td>
            </tr>

            <!-- ======= ROWS ======= -->
            <tr>
                <td class="text-center">1.</td>
                <td>Redison Manurung, S.Pd., M.Si</td>
                <td>196808011995121004</td>
                <td>Ketua TAPD</td>
                <td></td>
            </tr>

            <tr>
                <td class="text-center">2.</td>
                <td>Ambekni Kobak, SE</td>
                <td>197112312006051001</td>
                <td>Wakil Ketua TAPD</td>
                <td></td>
            </tr>

            <tr>
                <td class="text-center">3.</td>
                <td>Mathius, S.Hut., M.Si</td>
                <td>197603202003121007</td>
                <td>Sekretaris TAPD</td>
                <td></td>
            </tr>

            <tr>
                <td class="text-center">4.</td>
                <td>Khristian Priambodo Widiarko, M.Si</td>
                <td>196701201993031006</td>
                <td>Anggota TAPD</td>
                <td></td>
            </tr>

            <tr>
                <td class="text-center">5.</td>
                <td>Diniarso Sunarjayanto, S.Kom</td>
                <td>198308102011041002</td>
                <td>Anggota TAPD</td>
                <td></td>
            </tr>

            <tr>
                <td class="text-center">6.</td>
                <td>Visdita A. Rahayaan, SH</td>
                <td>198511222009091002</td>
                <td>Anggota TAPD</td>
                <td></td>
            </tr>

        </table>

    </div>
</body>

</html>