<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DPA-SKPD</title>

    <style>
        @page {
            size: 215mm 330mm;
            margin: 15mm;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #000;
            padding: 4px 6px;
            vertical-align: middle;
        }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        .bold {
            font-weight: bold;
        }

        .no-border {
            border: none !important;
        }

        .no-border-right {
            border-right: none !important;
        }

        .no-border-left {
            border-left: none !important;
        }

        .space {
            height: 10px;
        }

        @page {
            size: 215mm 330mm;
            margin: 20mm;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
        }

        .timAanggaran-table {
            width: 100%;
            border-collapse: collapse;
        }

        .main-table th,
        .main-table td {
            border: 1px solid #000;
            padding: 8px;
            vertical-align: middle;
        }

        .text-center {
            text-align: center;
        }

        .text-left {
            text-align: left;
        }

        .bold {
            font-weight: bold;
        }

        .title-row {
            font-weight: bold;
            text-align: center;
            font-size: 16px;
        }
    </style>
</head>

<body>

    <!-- ===================== HEADER ===================== -->
    <table>
        <tr>
            <td colspan="5" class="text-center bold">
                DOKUMEN PELAKSANAAN ANGGARAN<br>
                SATUAN KERJA PERANGKAT DAERAH<br>
            </td>
            <td rowspan="4" class="text-center bold" style="width:80px;">
                DPA-SKPD
            </td>
        </tr>
        <tr>
            <td colspan="5" class="text-center">
                PEMERINTAH KAB. YAHUKIMO<br>TAHUN ANGGARAN 2026
            </td>
        </tr>

        <tr>
            <!-- field no DPA -->
            <td class="no-border-right" style="width:50px;">Nomor</td>
            <td class="no-border-left" colspan="5">
                : DPA/A.1/5.02.0.00.0.00.27.0000/01/2026
            </td>
        </tr>
        <tr>
            <td class="no-border-right" style="width:50px;">Organisasi</td>
            <td class="no-border-left" colspan="5">
                : 5.02.0.00.0.00.27.0000 - Badan Pengelolaan Keuangan dan Aset Daerah
            </td>
        </tr>
        <tr>
            <td colspan="6" class="text-center" style="height:30px;">Ringkasan Dokumen Pelaksanaan Anggaran Pendapatan
                dan Belanja Daerah Satuan Kerja Perangkat Daerah</td>
        </tr>
    </table>

    <!--<div class="space"></div>-->

    <!-- ===================== RINGKASAN ===================== -->

    <table>

        <!-- HEADER KOLOM -->
        <tr>
            <th colspan="3" class="text-center" style="width:120px;">Kode Rekening</th>
            <th>Uraian</th>
            <th style="width:180px;">Jumlah (Rp)</th>
        </tr>
        <!--<tr>-->
        <!--    <th style="width:40px;"></th>-->
        <!--    <th style="width:40px;"></th>-->
        <!--    <th style="width:40px;"></th>-->
        <!--    <th></th>-->
        <!--    <th</th>-->
        <!--</tr>-->

        <!-- ===================== PENDAPATAN ===================== -->

        <tr class="bold">
            <td class="text-center">4</td>
            <td class="text-center">1</td>
            <td></td>
            <td>PENDAPATAN ASLI DAERAH (PAD)</td>
            <td class="text-right">Rp14.121.500.000,00</td>
        </tr>

        <tr>
            <td class="text-center">4</td>
            <td class="text-center">1</td>
            <td class="text-center">03</td>
            <td>Hasil Pengelolaan Kekayaan Daerah yang Dipisahkan</td>
            <td class="text-right">Rp3.000.000.000,00</td>
        </tr>

        <tr>
            <td class="text-center">4</td>
            <td class="text-center">1</td>
            <td class="text-center">04</td>
            <td>Lain-lain PAD yang Sah</td>
            <td class="text-right">Rp11.121.500.000,00</td>
        </tr>

        <tr class="bold">
            <td class="text-center">4</td>
            <td class="text-center">2</td>
            <td></td>
            <td>PENDAPATAN TRANSFER</td>
            <td class="text-right">Rp1.964.735.787.918,00</td>
        </tr>

        <tr>
            <td class="text-center">4</td>
            <td class="text-center">2</td>
            <td class="text-center">01</td>
            <td>Pendapatan Transfer Pemerintah Pusat</td>
            <td class="text-right">Rp1.949.622.175.457,00</td>
        </tr>

        <tr>
            <td class="text-center">4</td>
            <td class="text-center">2</td>
            <td class="text-center">02</td>
            <td>Pendapatan Transfer Antar Daerah</td>
            <td class="text-right">Rp15.113.612.461,00</td>
        </tr>

        <tr class="bold">
            <td class="text-center">4</td>
            <td class="text-center">3</td>
            <td></td>
            <td>LAIN-LAIN PENDAPATAN DAERAH YANG SAH</td>
            <td class="text-right">Rp4.967.810.000,00</td>
        </tr>

        <tr>
            <td class="text-center">4</td>
            <td class="text-center">3</td>
            <td class="text-center">03</td>
            <td>Lain-lain Pendapatan Sesuai dengan Ketentuan Peraturan Perundang-Undangan</td>
            <td class="text-right">Rp4.967.810.000,00</td>
        </tr>

        <tr class="bold">
            <td colspan="4" class="text-right">Jumlah Pendapatan</td>
            <td class="text-right">Rp1.983.825.097.918,00</td>
        </tr>

        <!-- ===================== BELANJA ===================== -->

        <!--<tr>-->
        <!--    <td colspan="5"></td>-->
        <!--</tr>-->

        <tr class="bold">
            <td class="text-center">5</td>
            <td class="text-center">1</td>
            <td></td>
            <td>BELANJA OPERASI</td>
            <td class="text-right">Rp57.988.921.600,00</td>
        </tr>

        <tr>
            <td class="text-center">5</td>
            <td class="text-center">1</td>
            <td class="text-center">01</td>
            <td>Belanja Pegawai</td>
            <td class="text-right">Rp20.757.465.600,00</td>
        </tr>

        <tr>
            <td class="text-center">5</td>
            <td class="text-center">1</td>
            <td class="text-center">02</td>
            <td>Belanja Barang dan Jasa</td>
            <td class="text-right">Rp29.231.456.000,00</td>
        </tr>

        <tr>
            <td class="text-center">5</td>
            <td class="text-center">1</td>
            <td class="text-center">03</td>
            <td>Belanja Bunga</td>
            <td class="text-right">Rp8.000.000.000,00</td>
        </tr>

        <tr class="bold">
            <td class="text-center">5</td>
            <td class="text-center">2</td>
            <td></td>
            <td>BELANJA MODAL</td>
            <td class="text-right">Rp708.950.000,00</td>
        </tr>

        <tr>
            <td class="text-center">5</td>
            <td class="text-center">3</td>
            <td class="text-center">02</td>
            <td>Belanja Modal Peralatan dan Mesin</td>
            <td class="text-right">Rp708.950.000,00</td>
        </tr>

        <tr class="bold">
            <td class="text-center">5</td>
            <td class="text-center">3</td>
            <td></td>
            <td>BELANJA TIDAK TERDUGA</td>
            <td class="text-right">Rp3.000.000.000,00</td>
        </tr>

        <tr>
            <td class="text-center">5</td>
            <td class="text-center">3</td>
            <td class="text-center">01</td>
            <td>Belanja Tidak Terduga</td>
            <td class="text-right">Rp3.000.000.000,00</td>
        </tr>

        <tr class="bold">
            <td class="text-center">5</td>
            <td class="text-center">4</td>
            <td></td>
            <td>BELANJA TRANSFER</td>
            <td class="text-right">Rp507.148.788.870,00</td>
        </tr>

        <tr>
            <td class="text-center">5</td>
            <td class="text-center">4</td>
            <td class="text-center">02</td>
            <td>Belanja Bantuan Keuangan</td>
            <td class="text-right">Rp507.148.788.870,00</td>
        </tr>
        <tr class="bold">
            <td colspan="4" class="text-right">Jumlah Belanja</td>
            <td class="text-right">Rp568.845.660.470,00</td>
        </tr>

        <tr class="bold">
            <td colspan="4" class="text-right">Total Surplus/(Defisit)</td>
            <td class="text-right">Rp1.414.978.437.448,00</td>
        </tr>

        <tr class="bold">
            <td colspan="4" class="text-right">Jumlah Penerimaan Pembiayaan</td>
            <td class="text-right">Rp0,00</td>
        </tr>


        <!--PENGELUARAN PEMBIAYAAN-->
        <tr class="bold">
            <td class="text-center">6</td>
            <td class="text-center">2</td>
            <td></td>
            <td>PNGELUARAN PEMBIAYAAN</td>
            <td class="text-right">Rp114.000.000.000,00</td>
        </tr>

        <tr>
            <td class="text-center">6</td>
            <td class="text-center">2</td>
            <td class="text-center">02</td>
            <td>Penyertaan Modal Daerah</td>
            <td class="text-right">Rp2.000.000.000,00</td>
        </tr>

        <tr>
            <td class="text-center">6</td>
            <td class="text-center">2</td>
            <td class="text-center">07</td>
            <td>Pembayaran Pembiayaan Utang Daerah </td>
            <td class="text-right">Rp112.000.000.000,00</td>
        </tr>

        <tr class="bold">
            <td colspan="4" class="text-right">Jumlah Pengeluaran Pembiayaan</td>
            <td class="text-right">Rp114.000.000.000,00</td>
        </tr>

        <tr class="bold">
            <td colspan="4" class="text-right">Pembiayaan Neto</td>
            <td class="text-right">Rp114.000.000.000,00</td>
        </tr>
    </table>

    <!--<div style="height:40px;"></div>-->

    <!-- ===================== TTD ===================== -->

    <table>
        <tr>
            <th colspan="2" class="text-center bold" style="width:35%">Rencana Realisasi <br> Penerimaan per Bulan*)
                <br>(Rp)
            </th>
            <th colspan="2" class="text-center bold" style="width:35%">Rencana Realisasi <br> Penarikan Dana per Bulan*)
                <br>(Rp)
            </th>
            <th rowspan="14" class="text-center">
                <p style="font-weight: normal !important;">
                    Sumohai, Tanggal 08 Januari 2026<br>
                    KEPALA BADAN PENGELOLAAN KEUANGAN DAN ASET DAERAH
                </p>
                <br><br><br><br>
                <b>MATHIUS, S.Hut., M.Si</b><br>
                NIP. 197603202003121007<br><br><br>
                <p style="font-weight: normal !important;">
                    Mengesahkan,<br>
                    PPKD
                </p><br><br><br><br><br><br>
                <b>MATHIUS, S.Hut., M.Si</b><br>
                NIP. 197603202003121007
            </th>
        </tr>

        <tr>
            <td style="width:18%">Januari</td>
            <td style="width:18%" class="text-right">Rp165.335.424.825,00</td>
            <td style="width:18%">Januari</td>
            <td style="width:18%" class="text-right">Rp66.994.627.053,00</td>
        </tr>

        <tr>
            <td style="width:18%">Februari</td>
            <td style="width:18%" class="text-right">Rp165.335.424.825,00</td>
            <td style="width:18%">Februari</td>
            <td style="width:18%" class="text-right">Rp66.994.627.053,00</td>
        </tr>

        <tr>
            <td style="width:18%">Maret</td>
            <td style="width:18%" class="text-right">Rp165.335.424.825,00</td>
            <td style="width:18%">Maret</td>
            <td style="width:18%" class="text-right">Rp66.994.627.053,00</td>
        </tr>

        <tr>
            <td style="width:18%">April</td>
            <td style="width:18%" class="text-right">Rp165.335.424.825,00</td>
            <td style="width:18%">April</td>
            <td style="width:18%" class="text-right">Rp66.994.627.053,00</td>
        </tr>

        <tr>
            <td style="width:18%">Mei</td>
            <td style="width:18%" class="text-right">Rp165.335.424.825,00</td>
            <td style="width:18%">Mei</td>
            <td style="width:18%" class="text-right">Rp66.994.627.053,00</td>
        </tr>

        <tr>
            <td style="width:18%">Juni</td>
            <td style="width:18%" class="text-right">Rp165.335.424.825,00</td>
            <td style="width:18%">Juni</td>
            <td style="width:18%" class="text-right">Rp66.994.627.053,00</td>
        </tr>

        <tr>
            <td style="width:18%">Juli</td>
            <td style="width:18%" class="text-right">Rp165.335.424.825,00</td>
            <td style="width:18%">Juli</td>
            <td style="width:18%" class="text-right">Rp66.994.627.053,00</td>
        </tr>

        <tr>
            <td style="width:18%">Agustus</td>
            <td style="width:18%" class="text-right">Rp165.335.424.825,00</td>
            <td style="width:18%">Agustus</td>
            <td style="width:18%" class="text-right">Rp66.994.627.053,00</td>
        </tr>

        <tr>
            <td style="width:18%">September</td>
            <td style="width:18%" class="text-right">Rp165.335.424.825,00</td>
            <td style="width:18%">September</td>
            <td style="width:18%" class="text-right">Rp66.994.627.053,00</td>
        </tr>

        <tr>
            <td style="width:18%">Oktober</td>
            <td style="width:18%" class="text-right">Rp165.335.424.825,00</td>
            <td style="width:18%">Oktober</td>
            <td style="width:18%" class="text-right">Rp66.994.627.053,00</td>
        </tr>

        <tr>
            <td style="width:18%">November</td>
            <td style="width:18%" class="text-right">Rp165.335.424.825,00</td>
            <td style="width:18%">November</td>
            <td style="width:18%" class="text-right">Rp66.994.627.053,00</td>
        </tr>

        <tr>
            <td style="width:18%">Desember</td>
            <td style="width:18%" class="text-right">Rp165.335.424.825,00</td>
            <td style="width:18%">Desember</td>
            <td style="width:18%" class="text-right">Rp66.994.627.053,00</td>
        </tr>

        <tr class="bold" style="background-color:#BFC9D1;">
            <td style="width:18%">Jumlah</td>
            <td style="width:18%" class="text-right">Rp1.983.825.097.918,00</td>
            <td style="width:18%">Jumlah</td>
            <td style="width:18%" class="text-right">Rp66.994.627.053,00</td>
        </tr>
    </table>
    <table class="timAanggaran-table">

        <!-- ======= TITLE ======= -->
        <tr>
            <td colspan="5" class="title-row">
                Tim Anggaran Pemerintah Daerah
            </td>
        </tr>

        <!-- ======= HEADER ======= -->
        <tr class="bold text-center">
            <th style="width:60px;">No.</th>
            <th style="width:35%;">Nama</th>
            <th style="width:25%;">NIP</th>
            <th style="width:22%;">Jabatan</th>
            <th style="width:18%;">Tanda Tangan</th>
        </tr>

        <!-- ======= ROWS ======= -->
        <tr>
            <td class="text-center">1.</td>
            <td>Redison Manurung, S.Pd., M.Si</td>
            <td>196808011995121004</td>
            <td>Ketua TAPD</td>
            <td></td>
        </tr>

        <tr>
            <td class="text-center">2.</td>
            <td>Ambekni Kobak, SE</td>
            <td>197112312006051001</td>
            <td>Wakil Ketua TAPD</td>
            <td></td>
        </tr>

        <tr>
            <td class="text-center">3.</td>
            <td>Mathius, S.Hut., M.Si</td>
            <td>197603202003121007</td>
            <td>Sekretaris TAPD</td>
            <td></td>
        </tr>

        <tr>
            <td class="text-center">4.</td>
            <td>Khristian Priambodo Widiarko, M.Si</td>
            <td>196701201993031006</td>
            <td>Anggota TAPD</td>
            <td></td>
        </tr>

        <tr>
            <td class="text-center">5.</td>
            <td>Diniarso Sunarjayanto, S.Kom</td>
            <td>198308102011041002</td>
            <td>Anggota TAPD</td>
            <td></td>
        </tr>

        <tr>
            <td class="text-center">6.</td>
            <td>Visdita A. Rahayaan, SH</td>
            <td>198511222009091002</td>
            <td>Anggota TAPD</td>
            <td></td>
        </tr>

    </table>

</body>

</html>