<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>RKA-BELANJA SKPD</title>

    <style>
        @page {
            size: 215mm 330mm;
            margin: 15mm;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #000;
            padding: 4px 6px;
            vertical-align: middle;
        }

        .text-xlarge {
            font-size: 18px;
        }

        .text-large {
            font-size: 14px;
        }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        .bold {
            font-weight: bold;
        }

        .no-border {
            border: none !important;
        }

        .no-border-right {
            border-right: none !important;
        }

        .no-border-left {
            border-left: none !important;
        }

        .space {
            height: 8px;
        }

        .title-box {
            font-size: 13px;
            font-weight: bold;
        }

        .subtitle {
            font-size: 12px;
        }

        .rotate-left {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            text-align: center;
        }
    </style>
</head>

<body>

    <!-- HEADER -->
    <table>
        <tr>
            <td colspan="5" class="text-center title-box">
                RENCANA KERJA DAN ANGGARAN<br>
                SATUAN KERJA PERANGKAT DAERAH
            </td>
            <td rowspan="2" class="text-center bold" style="width:90px">
                Formulir<br>RKA-BELANJA<br>SKPD
            </td>
        </tr>
        <tr>
            <td colspan="5" class="text-center subtitle">
                Pemerintah Kab. Yahukimo Tahun Anggaran 2025
            </td>
        </tr>
    </table>

    <div class="space"></div>

    <!-- IDENTITAS -->
    <table>
        <tr>
            <td colspan="2" class="text-center text-xlarge" style="height: 30px;">
                Rincian Anggaran Belanja Menurut Program, Kegiatan dan Sub Kegiatan
            </td>
        </tr>

        <tr>
            <td style="width:150px;">Urusan Pemerintahan</td>
            <td>: 1 URUSAN PEMERINTAHAN WAJIB YANG BERKAITAN DENGAN PELAYANAN DASAR</td>
        </tr>
        <tr>
            <td>Bidang Urusan</td>
            <td>: 1.01 URUSAN PEMERINTAHAN BIDANG PENDIDIKAN</td>
        </tr>
        <tr>
            <td>Unit Organisasi</td>
            <td>: 1.01.5.02.0.00.01.0000 Dinas Pendidikan</td>
        </tr>
        <tr>
            <td>Sub Unit Organisasi</td>
            <td>: 1.01.5.02.0.00.01.0000 Dinas Pendidikan</td>
        </tr>
        <tr>
            <td>Program</td>
            <td>: 1.01.02 PROGRAM PENGELOLAAN PENDIDIKAN</td>
        </tr>
        <tr>
            <td>Kegiatan</td>
            <td>: 1.01.02.2.01 Pengelolaan Pendidikan Sekolah Dasar</td>
        </tr>
        <tr>
            <td>Sub Kegiatan</td>
            <td>: 1.01.02.2.01.0003 Pembangunan Ruang Guru</td>
        </tr>
        <tr>
            <td>SPM</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Jenis Layanan</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Sumber Pendanaan</td>
            <td>: DAU yang Ditentukan Penggunaannya Bidang Pendidikan Dana Otonomi Khusus 1.25%-Papua-Pendidikan</td>
        </tr>
        <tr>
            <td>Lokasi</td>
            <td>: Kab. Yahukimo, Dekai, Dekai</td>
        </tr>
        <tr>
            <td>Waktu Pelaksanaan</td>
            <td>: Januari s.d Desember</td>
        </tr>
        <tr>
            <td>Kelompok Sasaran</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Alokasi 2024</td>
            <td>: Rp. 0,00</td>
        </tr>
        <tr>
            <td>Alokasi 2025</td>
            <td>: Rp. 723.611.400,00</td>
        </tr>
        <tr>
            <td>Alokasi 2026</td>
            <td>: Rp. 0,00</td>
        </tr>

    </table>

    <div class="space"></div>

    <!-- INDIKATOR KINERJA -->
    <table>
        <tr>
            <td colspan="6" class="text-center text-large">
                Indikator dan Tolak Ukur Kinerja Kegiatan
            </td>
        </tr>

        <tr class="text-center text-large">
            <td colspan="3">Sebelum</td>
            <td colspan="3">Sesudah</td>
        </tr>

        <tr class="text-center text-large">
            <td>Indikator</td>
            <td>Tolak Ukur Kinerja</td>
            <td>Target Kinerja</td>
            <td>Indikator</td>
            <td>Tolak Ukur Kinerja</td>
            <td>Target Kinerja</td>
        </tr>

        <tr>
            <td>Capaian Program</td>
            <td>
                Peningkatan Kualitas dan Akses Pendidikan <br>
                Tercapainya Program Pengelolaan Pendidikan<br>
                Tercapainya Program Pengelolaan Pendidikan
            </td>
            <td>
                100%<br>
                100%<br>
                100%<br>
            </td>
            <td>Capaian Program</td>
            <td>
                Peningkatan Kualitas dan Akses Pendidikan <br>
                Tercapainya Program Pengelolaan Pendidikan<br>
                Tercapainya Program Pengelolaan Pendidikan
            </td>
            <td>
                100%<br>
                100%<br>
                100%<br>
            </td>
        </tr>

        <tr>
            <td>Masukan</td>
            <td>Dana yang Dibutuhkan</td>
            <td>Rp 723.611.400</td>
            <td>Masukan</td>
            <td>Dana yang Dibutuhkan</td>
            <td>Rp 723.611.400</td>
        </tr>
        <tr>
            <td>Keluaran</td>
            <td>: Jumlah Ruang Guru/Kepala Sekolah/TU yang
                Telah Dibangun </td>
            <td>1 Ruang</td>
            <td>Keluaran</td>
            <td>: Jumlah Ruang Guru/Kepala Sekolah/TU yang
                Telah Dibangun </td>
            <td>1 Ruang</td>
        </tr>
        <tr>
            <td>Hasil</td>
            <td>:Peningkatan Kualitas Pembelajaran dan
                Partisipasi Siswa di Sekolah Dasar </td>
            <td>1 Tahun</td>
            <td>Hasil</td>
            <td>:Peningkatan Kualitas Pembelajaran dan
                Partisipasi Siswa di Sekolah Dasar </td>
            <td>1 Tahun</td>
        </tr>
    </table>

    <div class="space"></div>
    <!-- RINCIAN ANGGARAN BELANJA KEGIATAN SKPD -->
    <table>
        <tr>
            <td colspan="2" class="text-center text-large">Rincian Anggaran Belanja Kegiatan <br>
                Satuan Kerja Perangkat Daerah</td>
        </tr>
        <tr>
            <td style="width: 15%;">Sub Kegiatan</td>
            <td>: 1.01.02.2.01.0003 Pembangunan Ruang Guru/Kepala Sekolah/TU</td>
        </tr>
        <tr>
            <td style="width: 15%;">Sumber Pendaaan</td>
            <td>: DAU yang Ditentukan Penggunaannya Bidang Pendidikan <br>
                Dana Otonomi Khusus 1,25%-Papua-Pendidikan</td>
        </tr>
        <tr>
            <td style="width: 15%;">Lokasi</td>
            <td>: Kab. Yahukimo, Dekai, Dekai</td>
        </tr>
        <tr>
            <td style="width: 15%;">Keluaran Sub Kegiatan</td>
            <td>: Jumlah Ruang Guru/Kepala Sekolah/TU yang Telah Dibangun</td>
        </tr>
        <tr>
            <td style="width: 15%;">Sub Kegiatan</td>
            <td>: Januari s.d Desember</td>
        </tr>
        <tr>
            <td style="width: 15%;">Keterangan</td>
            <td>:</td>
        </tr>
    </table>

    <div class="space"></div>

    <!-- RINCIAN BELANJA -->
    <table>
        <!-- start header table rincian ini akan terus tampil jika data table rincian saat di cetak mencapai halaman baru -->
        <tr>
            <td colspan="14" class="text-center text-large bold">
                Rincian Anggaran Belanja Sub Kegiatan<br>
                Satuan Kerja Perangkat Daerah
            </td>
        </tr>

        <tr class="text-center bold">
            <td rowspan="2">Kode<br>Rekening</td>
            <td rowspan="2" s tyle="width:300px">Uraian</td>

            <td colspan="5">Rincian Perhitungan Sebelum</td>
            <td colspan="5">Rincian Perhitungan Sesudah</td>

            <td rowspan="2">Bertambah /<br>(Berkurang)</td>
        </tr>

        <tr class="text-center bold">
            <td>Koefisien</td>
            <td>Satuan</td>
            <td>Harga(Rp)</td>
            <td>PPN</td>
            <td>Jumlah</td>

            <td>Koefisien</td>
            <td>Satuan</td>
            <td>Harga(Rp)</td>
            <td>PPN</td>
            <td>Jumlah</td>
        </tr>
        <!-- end  header table rincian ini akan terus tampil jika data table rincian saat di cetak mencapai halaman baru -->
        <!-- DATA (LOOPING) -->
        <tr>
            <td class="bold">5</td>
            <td class="bold" colspan="5">BELANJA DAERAH</td>
            <td class="text-right">723.611.400,00</td>
            <td colspan="4"></td>
            <td class="text-right">723.611.400,00</td>
            <td class="text-right">0,00</td>
        </tr>
        <tr>
            <td class="bold">5.1</td>
            <td class="bold" colspan="5">BELANJA OPERASI</td>
            <td class="text-right">723.611.400,00</td>
            <td colspan="4"></td>
            <td class="text-right">723.611.400,00</td>
            <td class="text-right">0,00</td>
        </tr>
        <tr>
            <td class="bold">5.1.02</td>
            <td class="bold" colspan="5">Belanja Barang dan Jasa</td>
            <td class="text-right">723.611.400,00</td>
            <td colspan="4"></td>
            <td class="text-right">723.611.400,00</td>
            <td class="text-right">0,00</td>
        </tr>
        <tr>
            <td class="bold">5.1.02.01</td>
            <td class="bold" colspan="5">Belanja Barang</td>
            <td class="text-right">723.611.400,00</td>
            <td colspan="4"></td>
            <td class="text-right">723.611.400,00</td>
            <td class="text-right">0,00</td>
        </tr>
        <tr>
            <td class="bold">5.1.02.01.01</td>
            <td class="bold" colspan="5">Belanja Barang Pakai Habis</td>
            <td class="text-right">723.611.400,00</td>
            <td colspan="4"></td>
            <td class="text-right">723.611.400,00</td>
            <td class="text-right">0,00</td>
        </tr>
        <tr>
            <td class="bold">5.1.02.01.01.0040</td>
            <td class="bold" colspan="5">Belanja Barang untuk Dijual/Diserahkan kepada Pihak Ketiga/Pihak Lain </td>
            <td class="text-right">723.611.400,00</td>
            <td colspan="4"></td>
            <td class="text-right">723.611.400,00</td>
            <td class="text-right">0,00</td>
        </tr>
        <!-- HASTAG [ # ] LOOPING DATA -->
        <tr>
            <td class="bold"></td>
            <td class="bold" colspan="5">
                [#] Pembangunan Ruang Guru Beserta Perabotnya SD Jhon D Wilson Holuwon (DAU DITENTUKAN - BIDANG
                PENDIDIKAN)<br>
                Sumber Dana : DAU yang Ditentukan Penggunaannya Bidang Pendidikan
            </td>
            <td class="text-right">0,00</td>
            <td colspan="4"></td>
            <td class="text-right">646.350.000,00</td>
            <td class="text-right">646.350.000,00</td>
        </tr>
        <!-- MINTAG [ - ] LOOPING DATA -->
        <tr>
            <td class="bold"></td>
            <td class="bold" colspan="5">[ - ] Belanja Meubeler </td>
            <td class="text-right">0,00</td>
            <td colspan="4"></td>
            <td class="text-right">21.000.000,00</td>
            <td class="text-right">21.000.000,00</td>
        </tr>
        <!-- URAIAN BELANJA - LOOPING DATA -->
        <tr>
            <td></td>
            <td>
                Kursi Kerja<br>
                Spesifikasi : Dinas Pendidikan (Swasta dan Negeri)
            </td>
            <td>-</td>
            <td>Unit</td>
            <td class="text-right">0,00</td>
            <td>-</td>
            <td class="text-right">0,00</td>

            <td>6 Buah</td>
            <td>Unit</td>
            <td class="text-right">800.000,00</td>
            <td>-</td>
            <td class="text-right">4.000.000</td>
            <td class="text-right">4.000.000</td>
        </tr>
        <tr>
            <td></td>
            <td>
                Lemari<br>
                Spesifikasi : Dinas Pendidikan (Swasta dan Negeri)
            </td>
            <td>-</td>
            <td>Unit</td>
            <td class="text-right">0,00</td>
            <td>-</td>
            <td class="text-right">0,00</td>

            <td>1 Buah</td>
            <td>Unit</td>
            <td class="text-right">2.000.000,00</td>
            <td>-</td>
            <td class="text-right">2.000.000,00</td>
            <td class="text-right">2.000.000,00</td>
        </tr>
        <tr>
            <td></td>
            <td>
                Meja 1/2 Biro<br>
                Spesifikasi : Dinas Pendidikan (Swasta dan Negeri)
            </td>
            <td>-</td>
            <td>Unit</td>
            <td class="text-right">0,00</td>
            <td>-</td>
            <td class="text-right">0,00</td>

            <td>5 Buah</td>
            <td>Unit</td>
            <td class="text-right">3.000.000,00</td>
            <td>-</td>
            <td class="text-right">15.000.000,00</td>
            <td class="text-right">15.000.000,00</td>
        </tr>

        <tr>
            <td class="bold"></td>
            <td class="bold" colspan="5">[ - ] Pembangunan Ruang Guru </td>
            <td class="text-right">0,00</td>
            <td colspan="4"></td>
            <td class="text-right">21.000.000,00</td>
            <td class="text-right">21.000.000,00</td>
        </tr>
        <tr>
            <td></td>
            <td>
                Pembangunan Ruang Guru : SD Swasta<br>
                Spesifikasi : Swasta
            </td>
            <td>-</td>
            <td>Unit</td>
            <td class="text-right">0,00</td>
            <td>-</td>
            <td class="text-right">0,00</td>

            <td>1 Ruang</td>
            <td>Ruang</td>
            <td class="text-right">632.350.000,00</td>
            <td>-</td>
            <td class="text-right">632.350.000,00</td>
            <td class="text-right">632.350.000,00</td>
        </tr>
        <tr>
            <td class="text-right bold" colspan="6">Jumlah Anggaran Sub Kegiatan Sebelum :</td>
            <td class="text-right bold">723.611.400,00</td>
            <td class="text-right bold" colspan="4">Jumlah Anggaran Sub Kegiatan Sesudah :</td>
            <td class="text-right bold">723.611.400,00</td>
            <td class="text-right bold">0,00</td>
        </tr>
        <tr>
            <td class="text-right bold" colspan="7"></td>
            <td class="text-center bold" colspan="7">
                <p style="font-weight: normal !important;">
                    Kab. Yahukimo,.............................<br>
                    Kepala Dinas Pendidikan<br><br><br><br>
                </p>
                <br><br><br><br>
                <b>MATHIUS, S.Hut., M.Si</b><br>
                NIP. 197603202003121007
        </tr>
    </table>

    <div class="space"></div>

    <table>
        <tr>
            <td style="width: 100px;">Pembahasan</td>
            <td class="text-center" style="width: 10px;">:</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 100px;">Tanggal</td>
            <td class="text-center" style="width: 10px;">:</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 100px;">Catatan</td>
            <td class="text-center" style="width: 10px;">:</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3">1.</td>
        </tr>
        <tr>
            <td colspan="3">2.</td>
        </tr>
        <tr>
            <td colspan="3">Dst</td>
        </tr>
    </table>

    <div class="space"></div>

    <!-- tim anggaran pemerintah daerah -->
    <table>
        <tr>
            <td colspan="5" class="text-center bold">
                Tim Anggaran Pemerintah Daerah
            </td>
        </tr>

        <tr class="text-center bold">
            <td style="width:60px;">No.</td>
            <td style="width:35%;">Nama</td>
            <td style="width:25%;">NIP</td>
            <td style="width:22%;">Jabatan</td>
            <td style="width:18%;">Tanda Tangan</td>
        </tr>

        <!-- ======= ROWS ======= -->
        <tr>
            <td class="text-center">1.</td>
            <td>Redison Manurung, S.Pd., M.Si</td>
            <td>196808011995121004</td>
            <td>Ketua TAPD</td>
            <td></td>
        </tr>

        <tr>
            <td class="text-center">2.</td>
            <td>Ambekni Kobak, SE</td>
            <td>197112312006051001</td>
            <td>Wakil Ketua TAPD</td>
            <td></td>
        </tr>

        <tr>
            <td class="text-center">3.</td>
            <td>Mathius, S.Hut., M.Si</td>
            <td>197603202003121007</td>
            <td>Sekretaris TAPD</td>
            <td></td>
        </tr>

        <tr>
            <td class="text-center">4.</td>
            <td>Khristian Priambodo Widiarko, M.Si</td>
            <td>196701201993031006</td>
            <td>Anggota TAPD</td>
            <td></td>
        </tr>

        <tr>
            <td class="text-center">5.</td>
            <td>Diniarso Sunarjayanto, S.Kom</td>
            <td>198308102011041002</td>
            <td>Anggota TAPD</td>
            <td></td>
        </tr>

        <tr>
            <td class="text-center">6.</td>
            <td>Visdita A. Rahayaan, SH</td>
            <td>198511222009091002</td>
            <td>Anggota TAPD</td>
            <td></td>
        </tr>

    </table>

</body>

</html>